{
  "plugins": ["prettier-plugin-solidity"],
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}

