name: Publish

on:
  workflow_run:
    workflows: ['Release']
    types: [completed]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
          token: ${{ secrets.ADMIN_GITHUB_TOKEN }}

      - uses: ./.github/actions/prepare-to-run-nx

      - name: Setup Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Setup NPM Authentication
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Publish Libs to NPM
        run: |
          BASE_COMMIT=$(git log --pretty=format:"%H %s" | grep -v -E "\[skip ci\]|chore\(release\)|chore\(project-version\)" | head -1 | cut -d' ' -f1)
          pnpm nx affected --base=$BASE_COMMIT --target=publish --parallel=1
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_GITHUB_TOKEN }}
